/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nlp-app-button {
    border-radius: 0px;
    font-size: 18px !important;
    height: 70px;
    margin: 8px;
    min-width: 150px !important;
    border-color: #9568a84f !important;
    padding: 4px auto;
}

.nlp-app-button:disabled {
    color: #6e6a70 !important;
}