<div class="bg-dark text-muted">
    <button mat-icon-button (click)="navigateHome()">
        <!-- <mat-icon svgIcon="home"></mat-icon> -->
        <mat-icon>home</mat-icon>
    </button>
    <!-- <button mat-icon-button>
        <mat-icon svgIcon="edit_note"></mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon svgIcon="cloud"></mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon svgIcon="content_paste_search"></mat-icon>
    </button> -->
</div>