<div class="d-flex flex-row justify-content-center" style="margin-top: -100px;">
    <button mat-stroked-button color="primary" class="home-button" (click)="compareTexts()">
        <span>
            PORÓWNAJ TEKSTY
        </span>
    </button>
    <button mat-stroked-button color="primary" class="home-button" (click)="summarizeText()">
        <span>
            STREŚĆ TEKST
        </span>
    </button>
    <button mat-stroked-button color="primary" class="home-button" (click)="generateWordCloud()">
        <span>
            WORD CLOUD
        </span>
    </button>
</div>